*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'roboto';
    font-weight: 500;
}

/* header */

#dash-container {
    width: 1440px;
    height: 718px;
    position: relative;
}
#dash-container #header {
    width: 100%;
    height: 48px;
    position: sticky;
    position: relative;
}
#header img{
    width: 80px;
    height: 16.35px;
    top: 17.61px;
    left: 16px;
    position: absolute;
}
#dash-container #container{
    width: 1440px;
    height: 670px;
    top: 48px;
    position: absolute;
}
#container #your-dash{
    width: 238px;
    height: 291.4px;
    top: 1px;
    left: 1px;
    position: absolute;
}
#your-dash p{
    width: 120.65px;
    height: 14.4px;
    margin-top: 40px;
    margin-left: 16px;
    position: absolute;
    font-size: 12px;
    line-height: 14.4px;
    color: #212529BF;
    font-weight: 500;
}
#your-dash nav{
    width: 238px;
    height: 120px;
    top: 58.4px;
    position: absolute;
    padding: 16px;
    line-height: 40px;
}
#your-dash ul li{
    list-style: none;
}
#your-dash nav ul li a{
    text-decoration: none;
    color: #0D6EFD;
    font-size: 14px;
    font-weight: 500px;
    line-height: 21px;
}
#signout-btn{
     text-decoration: none;
    color: #0D6EFD;
    font-size: 14px;
    font-weight: 500px;
    line-height: 21px;
    border: none;
    background-color: white;
}
hr{
    margin-left: -16px;
    width: calc(100% + 32px);
    border-top: 1px solid #DEE2E6; 
} 
 #your-dash ul li i {
    margin: 14px;
    margin-left: 0px;
} 
 /* style user management  */
#container #user-mng{
width: 1200px;
height: 670px;
left: 240px;
position: absolute;
}
#user-mng p {
    width: 1152px;
    height: 71.4px;
    margin-left: 24px;
    position: absolute;
    border-bottom: 1px solid #DEE2E6;
    align-items: center;
    display: flex;
    line-height: 28.5px;
    font-size: 24px;
    font-weight: 500;
}
#user-mng p i {padding-right: 40px;}
/* style search box */
#user-mng #search-box{
    width: 538px;
    height: 46px;
    top: 94px;
    left: 625px;
    position: absolute;
}
#search-box input {
    width: 254px;
    height: 40px;
    top: 4px;
    left: 280px;
    position: absolute;
    border-radius: 4px;
    border: 1px solid #E7EAEE;
    padding: 8px;
    gap: 16px;
}
 #search-box button{
    width: 16px;
    height: 16px;
    top:16px;
    right: 8px;
    position:absolute;
    border: none;
    background-color: white;
}
#search-box button i {
    width: 11.33px;
    height: 11.33px; 
}
#user-mng #table-box{
    width: 1116px;
    height: 404px;
    position: absolute;
    top: 163px;
    left: 47px;
     font-family: 'inter'!important
}
#user-mng tr th {
    width: 162px;
    height: 44px;
    padding: 12px 24px 12px 24px;
    gap: 12px;
    border-bottom: 1px solid #F9FAFB;
    font-size: 12px;
    line-height: 18px;
    color: #667085;
    text-align: start;
    background-color: #F9FAFB;
} 
 #user-mng tr td {
    width: 162px;
    height: 72px;
    border-bottom: 1px solid #EAECF0;
    padding: 16px 24px 16px 24px;
    gap: 12px;
    color: #101828;
    line-height: 20px;
    font-size: 14px;
    font-weight: 500;
}
#table-box .stt-active{
    width: 65px;
    height: 22px;
    border-radius: 16px;
    padding: 2px 8px 2px 6px ;
    gap: 6px;
    background-color: #ECFDF3;
    color: #027A48;
    font-size: 12px;
    line-height: 18px;
}
#table-box .stt-deactivate{
    width: 90px;
    height: 22px;
    border-radius: 16px;
    padding: 2px 8px 2px 6px ;
    gap: 6px;
    background-color: #FEF2F2;
    color: #B91C1C;
    font-size: 12px;
    line-height: 18px; 
 }
#table-box button{
 width: 40px;
    height: 40px;
    border-radius: 8px;
    gap: 8px;
    border: none;
    background-color: white;
    position: relative;
}
#table-box .delete{
    color: #FF0000;
}
#table-box .edit{
    color: #FFA703;
}
#user-mng .pagination{
    top: 593px;
    left: 48px;
    position: absolute;
    width: 432px;
    height: 32px;
    gap: 8px;
    display: flex;
}
.pagination button{
    width: 32px;
    height: 32px;
    border-radius: 4px;
    border: 1px solid #D8DAE5;
    padding: 10px;
    gap: 10px;
    background-color: #FFFFFF;
}
.pagination .active {
    background-color: #0066FF;
    color: white;
} 
